<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/login.css">
	</head>
  <form action="/login" method="post">
    <label> Password : </label>
    <input type="password" name="password" autofocus /> <br />
    <input type="submit"  value="Submit"/>
  </form>
</html>
