<html>
  <form action= "/login" method="post">
    <label> password : <input type = "password" name = "password" /> <br />
      <input type = "submit"  value="Submit"/>
    </label>
  </form>
</html>
