<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/login.css">
	</head>

	<form action="/login" method="post">
		<div> Please enter password to access.</div>
		<input type="password" name="password" autofocus />
		<button type="submit">SUBMIT</button>
	</form>
</html>
