<html>
	<form action= "/set-password" method="post">
		<label> Admin Level Pasword : </label>
		<input type = "password" name = "admin" /> <br/>
		<label> read only Level Password : </label>
		<input type = "password" name = "readOnly" /> <br />
		<input type = "submit"	value="Submit"/>
	</form>
</html>
