<html>
	<form action= "/set-password" method="post">
	<label> Admin Level Pasword : <input type = "password" name = "admin" /> <br/>
	<label> read only Level Password : <input type = "password" name = "readOnly" /> <br />
		<input type = "submit"	value="Submit"/>
	</label>
	</form>
</html>
