<html>
  <form action= "/set-password" method="post"> <!-- 액션부분에 다운로드 링크를 연결시켜 주어야 합니다. -->
    <label> Admin Level Pasword : <input type = "password" name = "adminPassword" /> <br/>
    <label> read only Level Password : <input type = "password" name = "readOnlyPassword" /> <br />
      <input type = "submit"  value="Submit"/>
    </label>
  </form>
</html>
