body {
	font-family: monospace;
	font-size: 1.1em;
}

.top {
	background-color: grey;
	color: white;
	padding: 9px;
}

.nav-title {
	margin: 10px 0 10px;
}

.middle {
	padding: 5px;
}

.middle-left{
	float: left;
	width: 25%;
}

.middle-right{
	margin-left: 25%;
}

.bottom{
	clear: left;
}

.item {
	display: inline-block;
}

.right-item {
	float: right;
}

.left-item {
	float: left;
	min-width: 57px;
	height: 30px;
	margin-right: 3px;
}
