body {
	font-family: monospace;
	font-size: 1.1em;
}

.top{
	background-color: grey;
	color: white;
	padding: 5px;
}

.middle {
	padding: 5px;
}

.middle-left{
	float: left;
	width: 25%;
}

.middle-right{
	margin-left: 25%;
}

.bottom{
	clear: left;
}

.right-item {
	display: inline-block;
	float: right;
}

.left-item {
	display: inline-block;
	float: left;
}