body {
	font-family: monospace;
}

form {
	width: 40%;
	margin: 0 auto;
	position: relative;
	padding: 20px 10px;
}

div {
	text-align: center;
	font-size: 1.1em;
	margin: 6px;
}

input {
	display: block;
	width: 240px;
	margin: 10px auto;
	padding: 3px;
	font-size: 1.1em;
}

button {
	display: block;
	width: 240px;
	margin: 10px auto;
	font-size: 1.2em;
	background-color: white;
	border: 1px #ababab solid;
}

button:hover {
	color: #ababab;
	border-color: #efefef;
	text-decoration: none;
	cursor: pointer;
}
