#share-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.share-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#upload-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.upload-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.link-holder-text{
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  overflow: auto;
}

.submit-file{
  position: fixed;
  float: right;
  right: 20px;
  bottom: 20px;
  width: 120px;
  height: 90px;
  color: white;
  background-color: red;
}

#close-modal-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal-btn:hover,
#close-modal-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#copy-btn{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#copy-btn:hover,
#copy-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
