{{template "header"}}
<div>
	<img src="/img/{{.filename}}" width="300px"></img>
	<ul>
		{{.filename}}<br/>
		{{.directory}}<br/>
		{{.size}}<br/>
		{{.type}}<br/>
		{{.overwriten}}<br/>
	</ul>
</div>
{{template "footer"}}
