{{template "header" .}}
<link rel="stylesheet" type="text/css" href="static/css/info.css">

<div class="container">
  {{if eq .type "image"}}
    <img class="image-holder" src="{{.src}}"></img>
  {{end}}
  <div class="info-holder">
    <div class="item-label">Fileinfo</div>
    <div class="item">{{.filename}}</div>
    <div class="item-label">Directory</div>
    <div class="item">{{.directory}}</div>
    <div class="item-label">Size</div>
    <div class="item">{{.size}}</div>
    <div class="item-label">Type</div>
    <div class="item">{{.type}}</div>
    <div class="item-label">Modified at</div>
    <div class="item">{{.overwriten}}</div>
  </div>
</div>
{{template "footer"}}
