{{define "header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Mukgoorm</title>

		<link rel="stylesheet" type="text/css" href="static/css/global.css">
		<link rel="stylesheet" type="text/css" href="static/css/nav.css">
	</head>
	<body>

	<div class="top">
		<div class="item"> Mukgoorm </div>
		<div class="nav-top">
			<div class="item left-item">logined as: {{ .user }}</div>
			<button class="item right-item logout-btn">LOGOUT</button>
		</div>
		<div style="clear: both;"></div>
		<button class="submit-file-btn item left-item">UPLOAD</button>
		<button class="remote-down-btn item left-item">REMOTE DOWNLOAD</button>
		<div class="item right-item">
			<input class="search-input" placeholder="search"></input>
			<button class="search-btn">Search</button>
		</div>
		<div style="clear: both;"></div>
	</div>

{{end}}

{{define "footer"}}
	</body>
</html>
{{end}}
