{{template "header"}}
<link rel="stylesheet" type="text/css" href="static/css/shareLink.css">
    <p>Number of files: {{ len .files }}</p>
    <ul>
      {{ range .files}}
      <li>
        {{ if eq .File.Mode.IsDir true }}
          <a href="/list?dir={{.Path}}">
        {{ else }}
          <a href="/info?dir={{.Path}}">
        {{ end }}
          {{ .File.Name }}
        </a>
        <a href="/down?dir={{.Path}}" dir="{{.Path}}">
          <button id="download" name="downlaod">download</button>
        </a>
          <button id="share" name="share">share</button>
          <div id="shareModal" class="modal">
            <div class="modal-content">
              <span class="close">x</span>
              <p>localhost:8080/down?fn={{.File.Name}}</p>
            </div>
          </div>
      </li>
      {{ end }}
    </ul>
    <script src="/static/javascript/sharelink.js"></script>

    <form action="/upload" enctype="multipart/form-data" method="post">
      <p>
        type some text(optionally):<br>
        <input type="text" name="textline" size="30">
      </p>
      <p>
        please specify a file, or a set of files: <br>
        <input type="file", name="image" size="40">
      </p>
      <div>
        <input type="submit" value="send">
      </div>
    </form>
{{template "footer"}}
