{{template "header"}}
  <script src="/static/javascript/list.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/sharelink.css">
  <div id="share-modal" class="modal">
    <div class="share-modal-content">
      <span id="copy-btn">COPY</span>
      <span id="close-modal-btn">x</span>
      <p class="link-holder"><textarea class="link-holder-text">hello</textarea></p>
    </div>
  </div>

  <p>Number of files: {{ len .files }}</p>
  <ul>
    {{ range .files}}
      <li>
        {{ if eq .File.Mode.IsDir true }}
          <a class="file-link" href="/?dir={{.Path}}">
        {{ else }}
          <a class="file-link" href="/info?dir={{.Path}}">
        {{ end }}
          {{ .File.Name }}
        </a>
        <a href="/down?dir={{.Path}}" dir="{{.Path}}">
          <button class="download" name="downlaod">download</button>
        </a>
        <button class="share-btn" name="share">share</button>
        <button onclick="remove({{.Path}})">delete</button>
      </li>
    {{ end }}
  </ul>

  <form action="/upload" enctype="multipart/form-data" method="post">
    <p>
      please specify a file, or a set of files: <br>
      <input type="file", name="image" size="40">
    </p>
    <div>
      <input type="submit" value="send">
    </div>
  </form>
{{template "footer"}}
