{{template "header"}}
	<script src="/static/javascript/list.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/sharelink.css">
	<link rel="stylesheet" type="text/css" href="static/css/list.css">

	<div id="share-modal" class="modal">
		<div class="share-modal-content">
			<p class="link-holder"> <textarea class="link-holder-text"></textarea> </p>
			<button id="copy-btn" class="modal-btn">COPY</button>
			<button id="close-btn" class="modal-btn">CANCEL</button>
			<div style="clear: both;"></div>
		</div>
	</div>


	<div id="upload-modal" class="modal">
		<div class="upload-modal-content">
			<span id="close-upload-modal-btn" name="close">X</span>
			<form id="upload-selected-file" action="/upload" enctype="multipart/form-data" method="post">
				<p>please specify a file, or a set of files:</p>
				<input id="uploaded-file" type="file" name="image" size="40">
				<button class="upload-btn" name="uplaod">UPLOAD</button>
			</form>
			<div style="clear: both;"></div>
		</div>
	</div>

	<div class="top">
		<p> Mukgoorm </p>
		<p>Number of files: {{ len .files }}</p>
		<div class="right-item">
			<input class="search-input" placeholder="search"></input>
			<button class="search-btn">Search</button>
		</div>
		<button class="left-item">UPLOAD</button>
		<form action= "/remote-download" method="post" class="left-item">
			<input type = "text" placeholder="url" name = "url" />
			<input type = "submit"	value="Download"/>
		</form>
		<div style="clear: both;"></div>
	</div>

	<div class="middle">
		<div class="middle-left">
			<p> file-paths </p>
			<p> file-paths </p>
		</div>
		<div class="middle-right">
			<ul>
			{{ range .files}}
				<li>
				{{ if eq .File.Mode.IsDir true }}
					<a class="file-link" href="/list?dir={{.Path}}">{{ .File.Name }}</a>
				{{ else }}
					<a class="file-link" href="/info?dir={{.Path}}">{{ .File.Name }}</a>
				{{ end }}
					<a href="/down?dir={{.Path}}" dir="{{.Path}}">
						<button id="download" name="downlaod">download</button>
					</a>
					<button class="share-btn" name="share">share</button>
					<button onclick="remove({{.Path}})">delete</button>
				</li>
			{{ end }}
			</ul>
		</div>
	</div>

	<div class="bottom">

	</div>

	<button class="submit-file" value="send">send</button>
{{template "footer"}}
