<html>
  <form action= "/login-data" method="post"> <!-- 액션부분에 다운로드 링크를 연결시켜 주어야 합니다. -->
    <label> UserName : <input type = "text" name = "user" /> <br/>
    <label> password : <input type = "password" name = "password" /> <br />
      <input type = "submit"  value="Submit"/>
    </label>
  </form>
</html>
