<html>
  <div>
    <p>Number of files: {{ len .files }}</p>
    <ul>
      {{ range .files}}
      <li>
        <a href="/down?fn={{.Name}}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</html>
